
<div class="card text-white bg-dark mb-3" style="max-width: 30rem; margin-left: 42rem;">
  <div class="card-header">{{produit.name}}</div>
  <img src="{{produit.image}}" class="card-img" alt="picture"/>

  <div class="card-body">
    <h5 class="card-title">{{produit.description}}</h5>
    <p class="card-text">description  </p>

    <p class="card-text">Price : {{produit.price}} </p>
    <p class="text-muted mb-0">Available: <span class="fw-bold">{{produit.Available}}</span></p>

    <button class="btn btn-primary mb-3" >Change</button>
  </div>
</div>









