<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card bg-dark" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-4 text-info">Create an account</h2>

              <form [formGroup]="userFormGroup" (ngSubmit)="handleAddUser()">
                <div class="form-outline mb-4">
                  <input type="file" id="form3Example4cdg" formControlName="image" class="form-control form-control-lg" />
                  <label class="form-label text-info" for="form3Example4cdg">Choose Profile Image</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" formControlName="username" class="form-control form-control-lg" />
                  <label class="form-label text-info" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" formControlName="email" class="form-control form-control-lg" />
                  <label class="form-label text-info" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" formControlName="password" class="form-control form-control-lg" />
                  <label class="form-label text-info" for="form3Example4cg">Password</label>
                </div>


                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg2" formControlName="phone" class="form-control form-control-lg" />
                  <label class="form-label text-info" for="form3Example1cg">Your Phone Number</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg3" formControlName="location" class="form-control form-control-lg" />
                  <label class="form-label text-info" for="form3Example1cg">Location</label>
                </div>


                <div class="d-flex justify-content-center">
                  <button type="submit"
                          class="btn btn-outline-primary">Register</button>
                </div>

                <p class="text-center text-white-50 mt-5 mb-0">Have already an account? <a href="/login"
                                                                                        class="fw-bold text-secondary"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
